# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment files
.env

# Database & IDEs
*.sqlite3
.vscode/
.idea/
.DS_Store

# Alembic compiled files
migrations/versions/*.pyc
