ANALYTICS_WRITER_PORT=8085
ANALYTICS_BATCH_SIZE=200
ANALYTICS_FLUSH_INTERVAL_MS=2000
ANALYTICS_RETENTION_DAYS=90
CLICKSTREAM_PORT=8083
CLICKSTREAM_BATCH_SIZE=100
CLICKSTREAM_ACCEPT_ANONYMOUS=true
CLICKSTREAM_ENFORCE_EVENT_ID=true
