DATABASE_URL=postgres://platform_user:change-me@postgres:5432/platform_db?sslmode=disable
DRIVER_SERVICE_PORT=8081
APP_ENV=local
AUTH_ISSUER=http://keycloak:8080/realms/bornemap
AUTH_JWKS_URL=http://keycloak:8080/realms/bornemap/protocol/openid-connect/certs
AUTH_AUDIENCE=bornemap-api
MAP_DEFAULT_LAT=36.8065
MAP_DEFAULT_LNG=10.1815
MAP_DEFAULT_RADIUS_KM=10
MAP_MAX_RADIUS_KM=50
