KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_REALM=bornemap
KEYCLOAK_PUBLIC_URL=https://auth.example.tn
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_DB_VENDOR=postgres
KEYCLOAK_DB_HOST=postgres.internal
KEYCLOAK_DB_PORT=5432
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak_user
KEYCLOAK_DB_PASSWORD=change-me
