RABBITMQ_DEFAULT_USER=analytics
RABBITMQ_DEFAULT_PASS=change-me
RABBITMQ_DEFAULT_VHOST=/bornemap
RABBITMQ_EXCHANGE_CLICKSTREAM=clickstream.topic
RABBITMQ_QUEUE_CLICKSTREAM_RAW=clickstream.raw
RABBITMQ_QUEUE_CLICKSTREAM_DLQ=clickstream.dlq
