RABBITMQ_HOST=rabbitmq.internal
RABBITMQ_PORT=5672
RABBITMQ_USER=analytics
RABBITMQ_PASSWORD=change-me
RABBITMQ_VHOST=/bornemap
RABBITMQ_EXCHANGE=bornemap.events
RABBITMQ_QUEUE_CLICKSTREAM=clickstream.queue
RABBITMQ_QUEUE_ANALYTICS=analytics.queue
