TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
TRAEFIK_TLS_ENABLED=false
TRAEFIK_DOMAIN_DRIVER=driver.example.tn
TRAEFIK_DOMAIN_PARTNER=partner.example.tn
TRAEFIK_DOMAIN_ADMIN=admin.example.tn
TRAEFIK_DOMAIN_API=api.example.tn
TRAEFIK_DOMAIN_AUTH=auth.example.tn
